* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #331A2F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 24px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  width: calc(1280px + 280 * (100vw - 1280px) / 640);
  max-width: 1560px;
  padding: 25px 15px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .container {
    padding: 17px 40px;
  }
}
.container .nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  height: 100px;
  white-space: nowrap;
}
@media (max-width: 1300px) {
  .container .nav {
    padding-bottom: 10px;
  }
}
.container .nav__logo {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
}
@media (max-width: 1300px) {
  .container .nav__logo {
    padding-bottom: 20px;
  }
}
.container .nav__logo_img {
  position: relative;
  top: -10px;
  margin-right: calc(14px + 5 * (100vw - 1280px) / 640);
}
.container .nav__logo_img::before {
  display: block;
  position: absolute;
  content: "";
  width: 1px;
  height: calc(62px + 18 * (100vw - 1280px) / 640);
  background: #000;
  top: 13px;
  right: -19px;
}
@media (max-width: 1300px) {
  .container .nav__logo_img {
    top: 0;
  }
  .container .nav__logo_img img {
    width: 187px;
  }
}
.container .nav__logo_text {
  font-size: calc(10px + 4 * (100vw - 1280px) / 640);
  line-height: calc(14px + 4 * (100vw - 1280px) / 640);
  margin-left: calc(19px + 6 * (100vw - 1280px) / 640);
}
.container .nav__menu {
  width: 598px;
  display: flex;
  justify-content: center;
  font-size: calc(18px + 6 * (100vw - 1280px) / 640);
}
@media (max-width: 1300px) {
  .container .nav__menu {
    margin-right: 70px;
  }
}
@media (max-width: 1270px) {
  .container .nav__menu {
    margin-right: calc(20px + 50 * (100vw - 770px) / 510);
  }
}
.container .nav__menu-list-item {
  cursor: pointer;
  transition: 0.3s;
}
.container .nav__menu-list-item:hover {
  color: #CF51CE;
}
.container .nav__menu-drop {
  position: relative;
}
.container .nav__menu-drop .menu-drop-title {
  list-style: none;
  margin-right: calc(40px + 10 * (100vw - 1280px) / 640);
}
.container .nav__menu-drop .menu-drop-title:hover .fa-solid {
  color: #CF51CE;
}
.container .nav__menu-drop summary::-webkit-details-marker {
  display: none;
}
.container .nav__menu-drop .fa-solid {
  margin-left: 11px;
  transition: 0.3s;
}
.container .nav__menu-drop .fa-solid:hover {
  color: #CF51CE;
}
.container .nav__menu-drop .submenu-drop {
  position: absolute;
  top: 45px;
  left: 0;
  width: 145px;
  height: auto;
  padding: 15px 22px;
  background: #fff;
  color: #6F6E6E;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1001;
}
.container .nav__menu-drop .submenu-drop-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.container .nav__callOrder .nav__number {
  font-size: calc(18px + 6 * (100vw - 1280px) / 640);
  margin-right: 91px;
  transition: 0.3s;
}
.container .nav__callOrder .nav__number:hover {
  color: #CF51CE;
}
.container .nav__callOrder .nav__number:hover .fa-phone {
  color: #CF51CE;
}
@media (max-width: 1270px) {
  .container .nav__callOrder .nav__number {
    margin-right: calc(30px + 61 * (100vw - 770px) / 510);
  }
}
.container .nav__callOrder .fa-phone {
  width: 18px;
  height: 18px;
  margin-right: calc(9px + 5 * (100vw - 1280px) / 640);
  transition: 0.3s;
}
.container .nav__callOrder .nav__button {
  position: relative;
  padding: 13px 33px 13px 70px;
  border: none;
  border-radius: 12px;
  font-size: calc(18px + 5 * (100vw - 1280px) / 640);
  color: #fff;
  transition: 0.3s;
  background: #CF51CE;
}
.container .nav__callOrder .nav__button:hover {
  background: #963c95;
}
@media (max-width: 1300px) {
  .container .nav__callOrder .nav__button {
    padding: 13px 32px 13px 70px;
  }
}
.container .nav__callOrder .icon-btn {
  position: absolute;
  width: 23px;
  height: 23px;
  top: calc(13px + 5 * (100vw - 1280px) / 640);
  left: 30px;
}

.menu-burger {
  display: none;
}
@media (max-width: 1150px) {
  .menu-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 1;
  }
}
.menu-burger span, .menu-burger::before, .menu-burger::after {
  left: 4px;
  position: absolute;
  width: 17.5px;
  height: 1.25px;
  transition: all 0.3s ease 0s;
  background: #331A2F;
  z-index: 1;
}
.menu-burger::before, .menu-burger::after {
  content: "";
}
.menu-burger::before {
  top: 2px;
}
.menu-burger::after {
  bottom: 4px;
}
.menu-burger span {
  top: 45%;
  transform: scale(1) translate(0px, -50%);
}
.menu-burger .menu-burger-circle {
  position: absolute;
  top: -10px;
  left: -5px;
  width: 35px;
  height: 35px;
  background-color: #292929;
  border-radius: 50%;
  box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25);
}

._close span {
  background: #331A2F;
  transform: scale(0) translate(0px, -50%);
}
._close::before {
  background: #331A2F;
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
._close::after {
  background: #331A2F;
  top: 45%;
  transform: rotate(45deg) translate(0px, 50%);
}

body {
  background: #e5e5e5;
  color: #331A2F;
  font-family: "Lato", sans-serif;
}

/*# sourceMappingURL=style.css.map */
