@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #331A2F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 24px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  padding-top: 25px;
  margin-bottom: 85px;
}
@media (max-width: 1300px) {
  .header {
    margin-bottom: 66px;
  }
}
@media (max-width: 770px) {
  .header {
    margin-bottom: 56px;
  }
}
@media (max-width: 450px) {
  .header {
    margin-bottom: 40px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: end;
  height: calc(53px + 47 * (100vw - 360px) / 1560);
  white-space: nowrap;
}
.nav__logo {
  display: flex;
  align-items: end;
}
.nav__logo_img {
  margin-right: calc(14px + 5 * (100vw - 1280px) / 640);
}
@media (max-width: 450px) {
  .nav__logo_img {
    margin: 0;
  }
}
.nav__logo_img img {
  vertical-align: revert;
  width: calc(140px + 101 * (100vw - 360px) / 1560);
}
@media (max-width: 1300px) {
  .nav__logo_img img {
    width: 187px;
  }
}
@media (max-width: 450px) {
  .nav__logo_img img {
    width: 140px;
  }
}
.nav__logo_text {
  position: relative;
  font-size: calc(10px + 4 * (100vw - 1280px) / 640);
  line-height: calc(14px + 4 * (100vw - 1280px) / 640);
  margin-left: calc(16px + 9 * (100vw - 770px) / 1150);
}
@media (max-width: 1300px) {
  .nav__logo_text {
    margin-bottom: 5px;
  }
}
@media (max-width: 770px) {
  .nav__logo_text {
    font-size: 10px;
  }
}
@media (max-width: 450px) {
  .nav__logo_text {
    display: none;
  }
}
.nav__logo_text::after {
  display: block;
  position: absolute;
  content: "";
  width: 1px;
  height: calc(62px + 18 * (100vw - 1280px) / 640);
  background: #000;
  top: -10px;
  left: -19px;
}
@media (max-width: 770px) {
  .nav__logo_text::after {
    left: -14px;
  }
}
@media (max-width: 450px) {
  .nav__logo_text::after {
    display: none;
  }
}
.nav__menu {
  height: 54px;
  display: flex;
  justify-content: center;
  font-size: calc(18px + 6 * (100vw - 1280px) / 640);
  align-items: center;
}
@media (max-width: 1300px) {
  .nav__menu {
    margin-left: 30px;
    margin-right: 115px;
  }
}
@media (max-width: 1270px) {
  .nav__menu {
    margin-right: calc(20px + 50 * (100vw - 770px) / 510);
  }
}
@media (max-width: 770px) {
  .nav__menu {
    display: none;
  }
}
.nav__menu-list-item {
  cursor: pointer;
  transition: 0.3s;
}
.nav__menu-list-item:hover {
  color: #CF51CE;
}
.nav__menu-drop {
  position: relative;
}
.nav__menu-drop .menu-drop-title {
  list-style: none;
  margin-right: calc(40px + 10 * (100vw - 1280px) / 640);
}
.nav__menu-drop .menu-drop-title:hover .fa-solid {
  color: #CF51CE;
}
.nav__menu-drop summary::-webkit-details-marker {
  display: none;
}
.nav__menu-drop .fa-solid {
  margin-left: 11px;
  transition: 0.3s;
}
.nav__menu-drop .fa-solid:hover {
  color: #CF51CE;
}
.nav__menu-drop .submenu-drop {
  position: absolute;
  top: 45px;
  left: 0;
  width: 145px;
  height: auto;
  padding: 15px 22px;
  background: #fff;
  color: #6F6E6E;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1001;
}
.nav__menu-drop .submenu-drop-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.nav__callOrder {
  display: flex;
}
.nav__callOrder .nav__number {
  font-size: calc(18px + 6 * (100vw - 1280px) / 640);
  margin-right: 91px;
  transition: 0.3s;
}
@media (max-width: 770px) {
  .nav__callOrder .nav__number {
    display: none;
  }
}
.nav__callOrder .nav__number:hover {
  color: #CF51CE;
}
.nav__callOrder .nav__number:hover .fa-phone {
  color: #CF51CE;
}
@media (max-width: 1270px) {
  .nav__callOrder .nav__number {
    margin-right: calc(30px + 61 * (100vw - 770px) / 510);
  }
}
.nav__callOrder .fa-phone {
  width: 18px;
  height: 18px;
  margin-right: calc(9px + 5 * (100vw - 1280px) / 640);
  transition: 0.3s;
}
.nav__callOrder .nav__button {
  display: flex;
  position: relative;
  width: 169px;
  height: 45px;
  border: none;
  border-radius: 12px;
  align-items: center;
  text-align: center;
  padding-left: 32px;
  font-size: calc(18px + 5 * (100vw - 1280px) / 640);
  color: #fff;
  transition: 0.3s;
  background: #CF51CE;
}
.nav__callOrder .nav__button:hover {
  background: #963c95;
}
@media (max-width: 1300px) {
  .nav__callOrder .nav__button {
    width: 152px;
  }
}
@media (max-width: 770px) {
  .nav__callOrder .nav__button {
    font-size: calc(14px + 6 * (100vw - 360px) / 410);
  }
}
@media (max-width: 450px) {
  .nav__callOrder .nav__button {
    width: 103px;
    height: 36px;
    margin-bottom: 5px;
    padding-left: 20px;
  }
}
.nav__callOrder .nav__button p {
  color: #fff;
  margin: 0 auto 0 14px;
}
@media (max-width: 450px) {
  .nav__callOrder .nav__button p {
    margin-left: 8px;
  }
}
.nav__callOrder .nav__button .icon-btn {
  width: 23px;
  height: 23px;
}
@media (max-width: 450px) {
  .nav__callOrder .nav__button .icon-btn {
    width: 14px;
    height: 14px;
  }
}

.menu-burger {
  display: none;
}
@media (max-width: 770px) {
  .menu-burger {
    display: block;
    position: relative;
    width: 42px;
    height: 28px;
    margin-bottom: 5px;
    transform: scale(-1, 1);
    margin-left: calc(21px + 58 * (100vw - 770px) / 410);
    cursor: pointer;
    z-index: 1;
  }
}
@media (max-width: 450px) {
  .menu-burger {
    margin-left: 21px;
    margin-bottom: 9px;
  }
}
.menu-burger span, .menu-burger::before, .menu-burger::after {
  left: 0;
  position: absolute;
  width: 42px;
  height: 4px;
  transition: all 0.3s ease 0s;
  background: #CF51CE;
  border-radius: 4px;
  z-index: 1;
}
.menu-burger::after {
  width: 32px;
}
.menu-burger::before, .menu-burger::after {
  content: "";
}
.menu-burger::before {
  top: 2px;
}
.menu-burger::after {
  bottom: 4px;
}
.menu-burger span {
  top: 45%;
  transform: scale(1) translate(0px, -50%);
}

._close span {
  background: #CF51CE;
  transform: scale(0) translate(0px, -50%);
}
._close::before {
  background: #CF51CE;
  top: 50%;
  width: 32px;
  transform: rotate(-45deg) translate(0px, -50%);
}
._close::after {
  width: 32px;
  background: #CF51CE;
  top: 40%;
  transform: rotate(45deg) translate(0px, 50%);
}

.promo .container {
  position: relative;
}
.promo .container::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 759px;
  top: 180px;
  right: -180px;
  background: url("../img/BG Ellipse-small.png") center/cover no-repeat;
}
.promo__title {
  font-size: calc(26px + 30 * (100vw - 360px) / 1560);
  line-height: calc(39px + 41 * (100vw - 360px) / 1560);
  font-weight: 700;
  margin-bottom: 40px;
}
.promo__title span {
  color: #CF51CE;
}
@media (max-width: 1230px) {
  .promo__title {
    margin-bottom: 18px;
  }
}
@media (max-width: 767px) {
  .promo__title {
    width: 210px;
  }
}
.promo__price {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.promo__price span {
  font-size: 35px;
  color: #CF51CE;
}
@media (max-width: 1900px) {
  .promo__price {
    margin-bottom: 40px;
  }
}
@media (max-width: 1270px) {
  .promo__price {
    margin-bottom: 16px;
  }
}
.promo .price-icon {
  width: 48px;
  height: 48px;
  margin-right: 25px;
  vertical-align: bottom;
}
.promo__text {
  font-size: calc(18px + 7 * (100vw - 360px) / 1560);
  width: calc(330px + 538 * (100vw - 360px) / 1560);
  margin-bottom: 15px;
}
@media (max-width: 1900px) {
  .promo__text {
    line-height: 32px;
  }
}
@media (max-width: 767px) {
  .promo__text {
    width: 100%;
    line-height: 28px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.promo .superman-bg {
  position: absolute;
  top: 50px;
  right: -25px;
  width: 620px;
  height: 563px;
  background: url("../img/promo-stars.png") center/cover no-repeat;
}
@media (max-width: 1900px) {
  .promo .superman-bg {
    width: 458px;
    height: 416px;
    top: 50px;
    right: 30px;
  }
}
@media (max-width: 1230px) {
  .promo .superman-bg {
    display: none;
  }
}
.promo .superman {
  position: absolute;
  top: 10px;
  right: 0;
  width: 560px;
  height: 560px;
  z-index: 1;
}
@media (max-width: 1900px) {
  .promo .superman {
    right: 40px;
    top: 10px;
    width: 435px;
    height: 435px;
  }
  .promo .superman img {
    width: 435px;
    height: 435px;
  }
}
@media (max-width: 770px) {
  .promo .superman {
    width: 240px;
    overflow: hidden;
    right: 0;
    top: 150px;
  }
  .promo .superman img {
    width: 410px;
    height: 410px;
  }
}
@media (max-width: 767px) {
  .promo .superman {
    top: -55px;
    width: 130px;
  }
  .promo .superman img {
    width: 245px;
    height: 245px;
  }
}

/* Стиль списка */
ul.breadcrumb {
  margin-bottom: 15px;
  list-style: none;
}
@media (max-width: 450px) {
  ul.breadcrumb {
    margin-bottom: 40px;
  }
}

/* Отображение элементов списка бок о бок */
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}

/* Добавить символ черты (-) перед/за каждым элементом списка */
ul.breadcrumb li + li:before {
  padding: 0 8px;
  color: rgba(51, 26, 47, 0.5);
  content: "—";
}

/* Добавить цвет для всех ссылок внутри списка */
ul.breadcrumb li a {
  color: rgba(51, 26, 47, 0.5);
  text-decoration: none;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
  color: #CF51CE;
  text-decoration: underline;
}

.story {
  padding: 147px 0 140px;
}
@media (max-width: 1300px) {
  .story {
    padding-top: 62px;
  }
}
@media (max-width: 770px) {
  .story {
    padding: 50px 0 120px;
  }
}
@media (max-width: 450px) {
  .story {
    padding: 75px 0 100px;
  }
}
.story__title {
  font-size: calc(24px + 24 * (100vw - 360px) / 1560);
  line-height: calc(36px + 28 * (100vw - 360px) / 1560);
  font-weight: 700;
  text-align: center;
  margin: 0 auto 85px;
  margin-bottom: calc(50px + 44 * (100vw - 360px) / 1560);
}
@media (max-width: 770px) {
  .story__title {
    margin-bottom: 80px;
  }
}
@media (max-width: 450px) {
  .story__title {
    display: none;
  }
}
.story__title_variant {
  display: none;
}
@media (max-width: 450px) {
  .story__title_variant {
    display: block;
    margin-bottom: 50px;
  }
}
.story__descr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(40px + 40 * (100vw - 768px) / 1152);
}
.story__descr:last-child {
  margin-top: 60px;
}
@media (max-width: 450px) {
  .story__descr {
    flex-direction: column;
    margin: 0 auto;
  }
  .story__descr:last-child {
    position: revert;
    margin-top: 40px;
  }
}
.story__descr_text {
  font-size: calc(18px + 7 * (100vw - 360px) / 1560);
  line-height: calc(28px + 12 * (100vw - 360px) / 1560);
  max-width: 750px;
}
.story__descr_text .text_dawn {
  margin-bottom: 15px;
}
@media (max-width: 450px) {
  .story__descr_text {
    order: 2;
  }
}
.story__descr_img {
  width: calc(270px + 82 * (100vw - 768px) / 1152);
}

.school__title {
  font-size: calc(24px + 24 * (100vw - 360px) / 1560);
  line-height: calc(36px + 28 * (100vw - 360px) / 1560);
  font-weight: 700;
  text-align: center;
  margin: 0 auto 85px;
  margin-bottom: 23px;
}
.school__subtitle {
  font-size: calc(18px + 7 * (100vw - 360px) / 1560);
  line-height: calc(28px + 12 * (100vw - 360px) / 1560);
  text-align: center;
  margin-bottom: calc(50px + 35 * (100vw - 360px) / 1560);
}

.school__list {
  display: flex;
  justify-content: space-between;
  gap: calc(60px + 63 * (100vw - 768px) / 1152);
  padding-bottom: calc(70px + 60 * (100vw - 770px) / 1150);
}
@media (max-width: 770px) {
  .school__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 770px) {
  .school__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.school__list_item {
  width: 290px;
}
@media (max-width: 770px) {
  .school__list_item {
    width: 255px;
  }
}
@media (max-width: 450px) {
  .school__list_item {
    margin: 0 auto;
    text-align: center;
  }
}
.school__list .icon {
  width: 60px;
  height: 60px;
  background: #CF51CE;
  fill: #fff;
  padding: 11px;
  border-radius: 15px;
  margin-bottom: 30px;
}
@media (max-width: 1300px) {
  .school__list .icon {
    margin-bottom: 20px;
  }
}
.school__list_title {
  font-size: calc(18px + 6 * (100vw - 360px) / 1560);
  line-height: calc(27px + 9 * (100vw - 360px) / 1560);
  margin-bottom: 15px;
  font-weight: 600;
}
@media (max-width: 770px) {
  .school__list_title {
    margin-bottom: 10px;
  }
}
.school__list_text {
  font-size: 18px;
  line-height: 28px;
}
@media (max-width: 1300px) {
  .school__list_text {
    font-size: 16px;
    line-height: 25px;
  }
}

body {
  background: #e5e5e5;
  color: #331A2F;
  font-family: "Lato", sans-serif;
}

.container {
  position: relative;
  max-width: 1560px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .container {
    width: 1280px;
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 767px;
    padding: 0 15px;
  }
}
@media (max-width: 450px) {
  .container {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
