.menu-burger {
  display: none;

  @media (max-width: 770px) {
    display: block;
    position: relative;
    width: 42px;
    height: 28px;
    margin-bottom: 5px;
    transform: scale(-1, 1);
    margin-left: calc(21px + (79 - 21) * ((100vw - 770px) / (770 - 360)));
    cursor: pointer;
    z-index: 1;
  }
  @media (max-width: 450px) {
    margin-left: 21px;
    margin-bottom: 9px;
  }

  span,
  &::before,
  &::after {
    left: 0;
    position: absolute;
    width: 42px;
    height: 4px;
    transition: all 0.3s ease 0s;
    background: $pinkColor;
    border-radius: 4px;
    z-index: 1;
  }
  &::after {
    width: 32px;
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: 2px;
  }

  &::after {
    bottom: 4px;
  }

  span {
    top: 45%;
    transform: scale(1) translate(0px, -50%);
  }
}

._close {
  span {
    background: $pinkColor;
    transform: scale(0) translate(0px, -50%);
  }

  &::before {
    background: $pinkColor;
    top: 50%;
    width: 32px;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  &::after {
    width: 32px;
    background: $pinkColor;
    top: 40%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}
