.header {



}
.container {
  width: 1560px;
  max-width: 1560px;
  padding: 25px 15px;
  margin: 0 auto;
  @media (max-width: 1300px)  {
    width: 1280px;
    padding: 17px 40px;
  }
  @media (max-width: 768px)  {
    width: 767px;
    padding: 17px 15px;
  }
  @media (max-width: 360px)  {
    width: 360px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
    height: calc(53px + (100 - 53) * ((100vw - 360px) / (1920 - 360)));
    white-space: nowrap;

    &__logo {
      display: flex;
      align-items: end;
    }
    &__logo_img {
      margin-right: calc(14px + (19 - 14) * ((100vw - 1280px) / (1920 - 1280)));
      &::after {
        display: block;
        position: absolute;
        content: '';
        width: 1px;
        height: calc(62px + (80 - 62) * ((100vw - 1280px) / (1920 - 1280)));
        background: #000;
        top: 13px;
        right: -19px;
        @media (max-width: 770px)  {
          right: -14px;
        }
        @media (max-width: 450px)  {
          display: none;
        }
      }
      img {
        vertical-align: revert;
        width: calc(140px + (241 - 140) * ((100vw - 360px) / (1920 - 360)));
        //@media (max-width: 1300px) {
        //
        //}
      }
    }
    &__logo_text {
      font-size: calc(10px + (14 - 10) * ((100vw - 1280px) / (1920 - 1280)));
      line-height: calc(14px + (18 - 14) * ((100vw - 1280px) / (1920 - 1280)));
      margin-left: calc(16px + (25 - 16) * ((100vw - 770px) / (1920 - 770)));
      @media (max-width: 770px)  {
        font-size: 10px
      }
      @media (max-width: 450px)  {
        display: none;
      }
    }

    &__menu {
      //width: 598px;
      height: 54px;
      display: flex;
      justify-content: center;
      font-size: calc(18px + (24 - 18) * ((100vw - 1280px) / (1920 - 1280)));
      align-items: center;
      @media (max-width: 1300px) {
        margin-right: 70px;
      }
      @media (max-width: 1270px) {
        margin-right: calc(20px + (70 - 20) * ((100vw - 770px) / (1280 - 770)));
      }
      @media (max-width: 770px)  {
        display: none;
      }



      &-list-item {
        cursor: pointer;
        transition: .3s;
        &:hover {
          color: $pinkColor;
        }
      }
      &-drop {
        position: relative;

        .menu-drop-title {
          list-style: none;
          margin-right: calc(40px + (50 - 40) * ((100vw - 1280px) / (1920 - 1280)));;
          &:hover {
            .fa-solid {
              color: $pinkColor;
            }
          }
        }
        summary::-webkit-details-marker {
          display: none
        }
        .fa-solid {
          margin-left: 11px;
          transition: .3s;
          &:hover {
            color: $pinkColor;
          }
        }

        .submenu-drop {
          position: absolute;
          top: 45px;
          left: 0;
          width: 145px;
          height: auto;
          padding: 15px 22px;
          background: #fff;
          color: #6F6E6E;
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          z-index: 1001;
          &-item {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
          }
        }
      }

    }

    &__callOrder {
      .nav__number {
        font-size: calc(18px + (24 - 18) * ((100vw - 1280px) / (1920 - 1280)));
        //margin-right: calc(5px + (56 - 5) * ((100vw - 1300px) / (1920 - 1300)));
        margin-right: 91px;
        transition: .3s;
        @media (max-width: 770px)  {
          display: none;
        }
        &:hover {
          color: $pinkColor;
          .fa-phone{
            color: $pinkColor;
          }
        }
        @media (max-width: 1270px) {
          margin-right: calc(30px + (91 - 30) * ((100vw - 770px) / (1280 - 770)));
        }
      }
      .fa-phone {
        width: 18px;
        height: 18px;
        margin-right: calc(9px + (14 - 9) * ((100vw - 1280px) / (1920 - 1280)));
        transition: .3s;
      }
      .nav__button {
        position: relative;
        padding: 13px 33px 13px 70px;
        border: none;
        border-radius: 12px;
        font-size: calc(18px + (23 - 18) * ((100vw - 1280px) / (1920 - 1280)));
        color: #fff;
        transition: .3s;
        background: $pinkColor;
        &:hover {
          background: #963c95;
        }
        @media (max-width: 1300px) {
          //padding: 13px 32px 13px 70px;
        }
        @media (max-width: 770px)  {
          font-size: calc(14px + (20 - 14) * ((100vw - 360px) / (770 - 360)));
          //padding: 14px 34px 14px 65px;
        }
        @media (max-width: 360px)  {
          //padding: 10px 21px 10px 42px;
        }
      }
      .icon-btn {
        position: absolute;
        width: 23px;
        height: 23px;
        top: calc(13px + (18 - 13) * ((100vw - 1280px) / (1920 - 1280)));
        left: 30px;
        @media (max-width: 770px)  {
          width: calc(13px + (20 - 13) * ((100vw - 360px) / (770 - 360)));
          top: calc(10px + (16 - 10) * ((100vw - 360px) / (770 - 360)));
          left: calc(20px + (30 - 20) * ((100vw - 360px) / (770 - 360)));
        }
      }
    }
  }


}


