.header {



}
.container {
  width: calc(1280px + (1560 - 1280) * ((100vw - 1280px) / (1920 - 1280)));;
  max-width: 1560px;
  padding: 25px 15px;
  margin: 0 auto;
  @media (max-width: 1300px)  {
    padding: 17px 40px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 100px;
    white-space: nowrap;
    @media (max-width: 1300px) {
      padding-bottom: 10px;
    }
    &__logo {
      display: flex;
      align-items: baseline;
      padding-bottom: 10px;
      @media (max-width: 1300px) {
        padding-bottom: 20px;
      }
    }
    &__logo_img {
      position: relative;
      top: -10px;
      margin-right: calc(14px + (19 - 14) * ((100vw - 1280px) / (1920 - 1280)));
      &::before {
        display: block;
        position: absolute;
        content: '';
        width: 1px;
        height: calc(62px + (80 - 62) * ((100vw - 1280px) / (1920 - 1280)));
        background: #000;
        top: 13px;
        right: -19px;
      }
      @media (max-width: 1300px) {
        top: 0;
        img {
          width: 187px;
        }

      }
    }
    &__logo_text {
      font-size: calc(10px + (14 - 10) * ((100vw - 1280px) / (1920 - 1280)));
      line-height: calc(14px + (18 - 14) * ((100vw - 1280px) / (1920 - 1280)));
      margin-left: calc(19px + (25 - 19) * ((100vw - 1280px) / (1920 - 1280)));

    }

    &__menu {
      width: 598px;
      display: flex;
      justify-content: center;
      font-size: calc(18px + (24 - 18) * ((100vw - 1280px) / (1920 - 1280)));
      @media (max-width: 1300px) {
        margin-right: 70px;
      }
      @media (max-width: 1270px) {
        margin-right: calc(20px + (70 - 20) * ((100vw - 770px) / (1280 - 770)));
      }



      &-list-item {
        cursor: pointer;
        transition: .3s;
        &:hover {
          color: $pinkColor;
        }
      }
      &-drop {
        position: relative;

        .menu-drop-title {
          list-style: none;
          margin-right: calc(40px + (50 - 40) * ((100vw - 1280px) / (1920 - 1280)));;
          &:hover {
            .fa-solid {
              color: $pinkColor;
            }
          }
        }
        summary::-webkit-details-marker {
          display: none
        }
        .fa-solid {
          margin-left: 11px;
          transition: .3s;
          &:hover {
            color: $pinkColor;
          }
        }

        .submenu-drop {
          position: absolute;
          top: 45px;
          left: 0;
          width: 145px;
          height: auto;
          padding: 15px 22px;
          background: #fff;
          color: #6F6E6E;
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          z-index: 1001;
          &-item {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
          }
        }
      }

    }

    &__callOrder {
      .nav__number {
        font-size: calc(18px + (24 - 18) * ((100vw - 1280px) / (1920 - 1280)));
        //margin-right: calc(5px + (56 - 5) * ((100vw - 1300px) / (1920 - 1300)));
        margin-right: 91px;
        transition: .3s;
        &:hover {
          color: $pinkColor;
          .fa-phone{
            color: $pinkColor;
          }
        }
        @media (max-width: 1270px) {
          margin-right: calc(30px + (91 - 30) * ((100vw - 770px) / (1280 - 770)));
        }
      }
      .fa-phone {
        width: 18px;
        height: 18px;
        margin-right: calc(9px + (14 - 9) * ((100vw - 1280px) / (1920 - 1280)));
        transition: .3s;
      }
      .nav__button {
        position: relative;
        padding: 13px 33px 13px 70px;
        border: none;
        border-radius: 12px;
        font-size: calc(18px + (23 - 18) * ((100vw - 1280px) / (1920 - 1280)));
        color: #fff;
        transition: .3s;
        background: $pinkColor;
        &:hover {
          background: #963c95;
        }
        @media (max-width: 1300px) {
          padding: 13px 32px 13px 70px;
        }
      }
      .icon-btn {
        position: absolute;
        width: 23px;
        height: 23px;
        top: calc(13px + (18 - 13) * ((100vw - 1280px) / (1920 - 1280)));
        left: 30px;
      }
    }
  }


}


