

/* Стиль списка */
ul.breadcrumb {
  margin-bottom: 15px;
  list-style: none;
  @media (max-width: 450px) {
    margin-bottom: 40px;
  }
}

/* Отображение элементов списка бок о бок */
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}

/* Добавить символ черты (-) перед/за каждым элементом списка */
ul.breadcrumb li+li:before {
  padding: 0 8px;
  color: rgba(51, 26, 47, 0.5);
  content: "\2014";
}

/* Добавить цвет для всех ссылок внутри списка */
ul.breadcrumb li a {
  color: rgba(51, 26, 47, 0.5);
  text-decoration: none;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
  color: $pinkColor;
  text-decoration: underline;
}