.promo {
  //.container {
  //  @media (max-width: 1270px) {
  //    padding: 0 15px;
  //  }

  //}
  &__title {
    font-size: 56px;
    line-height: 80px;
    font-weight: 700;
    width: 880px;
    margin-bottom: 40px;
    span {
      color: $pinkColor;
    }
    @media (max-width: 1900px) {
      font-size: 46px;
      line-height: 65px;
      width: 720px;
    }
    @media (max-width: 1230px) {
      margin-bottom: 18px;
    }
    @media (max-width: 450px) {
      margin-bottom: 24px;
    }
  }
  &__price {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    span {
      font-size: 35px;
      color: $pinkColor;
    }
    @media (max-width: 1900px) {
      margin-bottom: 40px;
    }
  }
  .price-icon {
    width: 48px;
    height: 48px;
    margin-right: 25px;
    vertical-align: bottom;
  }
  &__text {
    position: relative;
    font-size: 25px;
    width: 868px;
    margin-bottom: 15px;
    @media (max-width: 1900px) {
      font-size: 20px;
      line-height: 32px;
      width: 711px;
    }
    @media (max-width: 1230px) {
      width: 482px;
    }
  }
  .superman-bg {
    position: absolute;
    top: 330px;
    right: 180px;
    width: 620px;
    height: 563px;
    background: url("../img/promo-stars.png") center / cover no-repeat;
    @media (max-width: 1900px) {
      width: 458px;
      height: 416px;
      top: 310px;
      right: 30px;
    }
    @media (max-width: 1230px) {
      display: none;
    }
  }
  .superman {
    position: absolute;
    top: 280px;
    right: 195px;
    width: 560px;
    height: 560px;
    background: url("../img/superman.png") center / cover no-repeat;
    z-index: 1;
    @media (max-width: 1900px) {
      width: 435px;
      height: 435px;
      right: 30px;
      top: 270px;
    }
    @media (max-width: 1230px) {
      width: 410px;
      height: 410px;
    }
  }
}