.promo {

  &__title {
    font-size: 56px;
    line-height: 80px;
    font-weight: 700;
    width: 880px;
    margin-bottom: 40px;
    span {
      color: $pinkColor;
    }
  }
  &__price {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    span {
      font-size: 35px;
      color: $pinkColor;
    }
  }
  .price-icon {
    width: 48px;
    height: 48px;
    margin-right: 25px;
    vertical-align: bottom;
  }
  &__text {
    position: relative;
    font-size: 25px;
    width: 868px;
    margin-bottom: 15px;
  }
  .superman-bg {
    position: absolute;
    top: 330px;
    right: 180px;
    width: 620px;
    height: 563px;
    background: url("../img/promo-stars.png") center / cover no-repeat;
  }
  .superman {
    position: absolute;
    top: 280px;
    right: 195px;
    width: 560px;
    height: 560px;
    background: url("../img/superman.png") center / cover no-repeat;
    z-index: 1;
  }
}